<%= link_to t('new'), new_post_path %>
<h1><%= t('index') %></h1>

<table>
 <tr>
   <th><%= Article.human_attribute_name :name %></th>
   <th><%= Article.human_attribute_name :contact %></th>
   <th><%= Article.human_attribute_name :kind %></th>
   <th><%= Article.human_attribute_name :denouncement %></th>
 </tr>

 <% @posts.each do |post| %>
   <tr>
     <td><%= post.name %></td>
     <td><%= post.contact %></td>
     <td><%= post.kind %></td>
     <td><%= post.denouncement %></td>
     <td><%= link_to t('show'), post_path(post) %></td>
   </tr>
 <% end %>
</table>
