<p>
 <strong><%= Article.human_attribute_name :name %></strong>
 <%= @post.name %>
</p>

<p>
 <strong><%= Article.human_attribute_name :contact %></strong>
 <%= @post.contact %>
</p>

<p>
 <strong<%= Article.human_attribute_name :denouncement %></strong>
 <%= @post.denouncement %>
</p>

<p>
 <strong><%= Article.human_attribute_name :kind %></strong>
 <%= @post.kind %>
</p>

<%= link_to t('back'), posts_path %>
